body{
    margin: 0;
    font-size: 1.25rem;
    background-color: #f05a49;
}

nav{
    border-bottom: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
    margin-bottom: 50px;
}

nav a{
    color: #f05a49;
}

nav a:hover{
    color: #f05a49;
    opacity: 0.7;
}

.navbar-brand{
    font-size: 1.75rem;
}

.dropdown-item{
    color: #f05a49;
}

.dropdown-item:hover{
    color: #f05a49;
    opacity: 0.7;
 }

 main{
    color: #ffa59b;
    height: 100%;
    min-height: calc(100vh - 192px);
 }


p{
    font-size: 0.9em;
}

h1{
    font-size: 1.5em;
    font-weight: 300;
}

.feature-image{
    width: 100%;
}

footer{
    text-align: center;
    background-color: #fff;
    color: #f05a49;
    font-weight: 900;
    padding: 0.75em;
    width: 100%;
}

.accordion {
    background-color: #eee;
    color: #db7f80;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1em;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #eee;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.right{
    float: right;
}

.red {
    background-color: red;
}

.center_element {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

iframe {
    background-color: white;
    width: 100%;
    height: auto;
}

.filler {
    height: 20px;
}

.template_button {
    color: white;
}

.office {
    height: 40%;
    width: auto;
}

.left {
    float: left;
}

.green {
    background-color: green;
}
